<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">

        <div class="row">
            <ng-container *ngFor="let field of formConfig; let i = index">
                <div *ngIf="field.type === 'nested'" class="mb-3 col-md-6">
                    <!-- <ng-container *ngIf="field.type === 'nested'"> -->
                    <table class="table nested-table">
                        <thead>
                            <tr>
                                <th *ngFor="let nestedField of field.fields">{{ nestedField.label }}</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="{{ field.name }}">
                            <tr *ngFor="let nestedRow of productForm.get(field.name)?.value; let rowIndex = index"
                                [formGroupName]="rowIndex">
                                <td *ngFor="let nestedField of field.fields">
                                    <ng-container [ngSwitch]="nestedField.type">
                                <td *ngSwitchCase="'text'">
                                    <input [type]="nestedField.type" class="form-control form-control-sm"
                                        [formControlName]="nestedField.name">
                                </td>
                                <td *ngSwitchCase="'number'">
                                    <input [type]="nestedField.type" class="form-control form-control-sm"
                                        [formControlName]="nestedField.name">
                                </td>
            </ng-container>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-danger" (click)="removeNestedRow(field.name, rowIndex)">
                    Remove
                </button>
            </td>
            </tr>
            </tbody>
            </table>
            <button type="button" class="btn btn-sm btn-primary" (click)="addNestedRow(field.name)">
                Add Row
            </button>
            <!-- </ng-container> -->
        </div>
        </ng-container>
</div>



<div class="row">
    <div class="col-md-2" *ngFor="let field of formConfig; let i = index">
        <!-- non nested part -->
        <div class="form-group mb-3" *ngIf="field.type !== 'nested'">
            <label>{{ field.label }}</label>
            <input [type]="field.type" class="form-control form-control-sm" [formControlName]="field.name"
                [required]="field.required">
            <div *ngIf="productForm.controls[field.name].invalid && productForm.controls[field.name].touched"
                class="text-danger">
                This field is required.
            </div>
        </div>
        <!-- non nested part -->

        <!-- <div *ngIf="(i + 1) % 5 === 0"></div> Create a new row after every 5 inputs -->
    </div>
</div>

<!-- Add button to submit the form -->
<button type="submit" class="btn btn-sm btn-primary">Save</button>
</form>
</div>